# Ignore all
*

# Unignore all with extensions; ignore executables
!*.*

# ignore all dirs
*/
*/*
!test
!test/*.cc


ckpoint*
*.txt
*.o

Test*.cc
!Test_hmc.cc

.nfs*

.tags
run.sh
submit.sh
nohup.out
Makefile
makefile

*.cobaltlog
*.error
*.output
!qlat_wrapper
!qlat_wrapper/*

cuth_calculate_avg.cc

!integral
!integral/*.cc
!integral/*.h

!form_factor
!form_factor/*.cc
!form_factor/*.h

!hadron_utils
!hadron_utils/*.cc
!hadron_utils/*.h


*.swp
